.about {
    margin-top: 20px;
}

.about .card {
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.241);
}

.about .card h2 {
    color: black;
    text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
}