.more {
    margin-top: 20px;
}

.card {
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.241);
}

.more-title {
    color: black;
    text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
}

.volunteer-item {
    margin-bottom: 20px;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}